* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

.cover {
    display: flex;
}

.cover img {
    max-width: 200px;
}

.music {
    display: flex;
}

.music .cover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.music-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}