* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

.cover {
    display: flex;
}

.cover img {
    max-width: 200px;
}

.music {
    display: flex;
    flex-wrap: wrap;
}

.music .cover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.music-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* DARK BACKGROUND COLOR (HERO AND FOOTER */
.header,
.footer {
    background-color: #1f2937;
}

/* HEADER LOGO TEXT */
.logo {
    font-size: 24px;
}

.header,
.header a,
.footer {
    color: #f9faf8;
}


/* HERO MAIN TEXT AND SECONDARY TEXT */
.info {
    background-color: #2a3340;
    color: #f9faf8;
}

.main-text {
    font-size: 48px;
}

.secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}
