:root {
    --spacing: 32px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: none;
}

.limit-width {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* DARK BACKGROUND COLOR (HERO AND FOOTER */

.header,
.footer {
    background-color: #1f2937;
}

/* HEADER LOGO TEXT */
.logo {
    font-size: 24px;
}

.header,
.header a,
.footer {
    color: #f9faf8;
}

.header {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
}

.header .limit-width{
    justify-content: space-between;
    padding: var(--spacing) 36px;
    width: 100%;
}

.header .logo a {
    text-decoration: none;
}


.header .nav {
    display: flex;
    gap: var(--spacing);
}

.nav li {
    display: inline-block;
}

/* HERO MAIN TEXT AND SECONDARY TEXT */

.info {
    background-color: #2a3340;
    display: flex;
    justify-content: center;
}

.info .limit-width{
    padding: calc(var(--spacing) * 3 + 28px) var(--spacing) 40px;
    color: #f9faf8;
    justify-content: space-between;
    gap: 20px;
}

.main-text {
    font-size: 48px;
    margin-bottom: 16px;
}

.secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}

.info.lyric-page img {
    max-width: 320px;
}

.info img {
    max-width: 640px;
    width: 50%;
}


/* INFORMATION TEXT */

.music-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing);
    padding: var(--spacing);
    color: #1f2937;
}

.music-section {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.music-section h2 {
    font-size: 36px;
    font-weight: 900;
}

.music {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

.cover {
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: #1f2937;
}

.cover img {
    max-width: 200px;
}

.music .cover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.music-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* QUOTE SECTION */

.quote-container {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 33vh;
    padding: var(--spacing);
}

.quote-container .limit-width {
    flex-direction: column;
    align-items: stretch;
}

.quote-container .quote {
    text-align: center;
    font-size: 36px;
    color: #1f2937;
    margin-bottom: 10px;
}

.quote-container .author {
    text-align: right;
}

/* BUTTON COLOR ACTION */

.subscribe-container button {
    background-color: #3882f6;
    color: #e5e7eb;
    padding: 12px var(--spacing);
    border-radius: 8px;
    border: 2px solid #e5e7eb;
    cursor: pointer;
}

.subscribe-container button:active {
    border: 2px solid #e0e2e7;
    background-color: #3677f1;
}

.subscribe-container {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e5e7eb;
    padding: var(--spacing);
}

.subscribe-card {
    padding: var(--spacing);
    background-color: #3882f6;
    display: flex;
    justify-content: space-between;
    min-width: 50%;
    align-items: center;
    border-radius: 8px;
    gap: var(--spacing);
}

.footer {
    padding: var(--spacing) var(--spacing) calc(var(--spacing) / 2);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.footer svg {
    width: 24px;
    fill: #f9faf8;
}

.footer ul {
    display: flex;
    gap:8px;
}


/* LYRICS PAGE */

.promos {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.promos img {
    width: 24%;
}

.texts-main {
    display: flex;
    justify-content: center;
}

.texts-main .limit-width {
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing);
    padding: var(--spacing);
}

.texts-main h2 {
    width: 100%;
}

.texts-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: var(--spacing);
    align-items: flex-start;
}

/* PHOTOS PAGE */
.photo-container {
    display: flex;
    justify-content: center;
    padding: calc(var(--spacing) * 3 + 28px) var(--spacing) var(--spacing);
}

.photo-container .limit-width {
    flex-direction: column;
    gap: var(--spacing);
}

.photo-container .limit-width h2 {
    align-self: stretch;
}


.photo-container .photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.photo-container .photo-column{
    display: flex;
    flex-direction: column;
    width: 300px;
}

.photo-container .photos img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}